*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 130vh;
  background-color: rgba(47, 79, 79,0.3);
}
.inteQue{
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
 
}
.mainQue{
   margin-top: 100px;
   border-radius: 10px;
  padding: 20px;
   background-color:rgb(102, 202, 202) ;
   height: auto; 
   box-shadow: 5px 5px 10px black;
}
h1{
  color: rgb(12, 48, 148);
  font-size: 25px;
  font-weight: bolder;
}
.queNdAns{
  text-align: center;
   margin: 15px;
}
.plus{
  font-size: 15px;
  margin: 8px;
  font-weight: lighter;
}
.que{
  text-align: left;
  padding: 5px;
 
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.ans{
  padding: 7px;
  background-color: rgb(233, 227, 227);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 18px;
  font-weight: bolder;
  color: rgb(8, 197, 24);
}
.quetion{
   font-size:24px ;
  font-weight: bolder;
  color: rgb(173, 22, 2);
}